*{
    box-sizing:border-box;
}


body{
    margin:0;
    padding:0;
    min-height:100vh;
    background:#00449b;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* middle blue container */
.container{

    width: min(80vw, 450px);
    min-height:100vh;

    background:#080066;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

}


/* your converter box */
.box{

    background:#FB923C;

    width:100%;
    max-width:380px;

    padding:25px;

    border-radius:20px;

    box-shadow:0px 10px 30px rgba(0,0,0,0.4);

}


h1{
    text-align:center;
    font-size:clamp(20px,5vw,32px);
}



input{

    width:100%;
    height:40px;

    border-radius:10px;
    border:2px solid black;

    padding:8px;
}



.container2{

    margin-top:15px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    gap:10px;

}



.Bigbox1,
.Bigbox2{

    width:45%;

}


.box1{

    width:100%;
    height:35px;

    border:2px solid black;
    border-radius:8px;

}



.swap-icon{

    font-size:25px;

}



#convert{

    width:100%;
    height:40px;

    border-radius:15px;

    border:2px solid black;

    background:#587ceb;

}



.container4{

    width:100%;
    height:80px;

    background:white;

    border:2px solid black;

    border-radius:10px;

    margin-top:20px;

    display:none;

    justify-content:center;
    align-items:center;

}



/* mobile */

@media(max-width:600px){

    .container{

        width:100%;
        min-height:100vh;

    }


    .container2{

        flex-direction:column;

    }


    .Bigbox1,
    .Bigbox2{

        width:100%;

    }


    .swap-icon{

        transform:rotate(90deg);

    }


}
